<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
  <script src="index.js"></script>
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4 text-center">Welcome to the Burger Exercise</h1>
    <p class="lead text-center">A database of burgers both devoured and undevoured</p>
    <hr class="my-4">
    <p class="text-center">Add a burger below. You can then choose to devour the burger. Once a burger has been devoured
      you can order it again!</p>
    <p class="lead">
      <div class="container addOne">
        <div>
          <div class="card-body">
            {{!-- <div class="formGroup"> --}}
            <form class="createForm container">
              <label for="burgerName"></label>
              <input class="form-control form-control-lg" placeholder="Add a Burger" type="text" name="name" id="burg">
              {{!-- </div> --}}
              <button class="btn btn-primary" type="submit">Add Burger</button>
            </form>
          </div>
        </div>
      </div>
    </p>
  </div>
  <div class="container orderSection">
    <div class="row">
      <div class="container unDev col-md">
        <h1 class="">Undevoured Burgers</h1>

        {{#each burgers}}
        {{#unless devoured}}

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Burger Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.id}}. {{this.burger_name}}</h6>
            <button class="btn btn-primary devour" data-id="{{this.id}}"
              data-devoured="{{this.devoured}}">Devour</button>

          </div>
        </div>

        {{/unless}}
        {{/each}}
      </div>

      <div class="container dev col-md">
        <h1>Devoured Burgers</h1>

        {{#each burgers}}
        {{#if devoured}}

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Burger Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.id}}. {{this.burger_name}}</h6>
            <button class="btn btn-primary devour" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Order
              Again</button>

          </div>
        </div>

        {{/if}}
        {{/each}}
      </div>


    </div>
  </div>

</body>

</html>